body{
    background-color:cadetblue;
}
.section_chat{
    width: 400px;
    height: 400px;
    /* background-color: aqua; */
    border: 5px brown solid;
    margin: auto;
    margin-top: 80px;
    border-radius: 40px;
    position: relative;
}
.h2_name2 ,h2_name{
    margin-left: 500px;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.h2_name{
    display: inline-block;
    color: brown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
}
.section_chat .div_chat1{
    width: 100%;
    height:50px ;
    background-color: white;
    position: absolute;
    left:0px;
    top: 88%;
    border-bottom-left-radius: 40px;
    border: crimson;
    border-bottom-right-radius: 40px;
}
.section_chat .div_chat1 input{
    width: 80%;
    height:40px ;
    margin-left: 40px;
    background-color: rgb(255, 255, 255);
    /* position: absolute; */
  
    /* border-bottom-left-radius: 40px; */
    border: none
    /* border-bottom-right-radius: 40px; */
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
.div_chat2{
position: absolute;
left: 0px;
width: 200px;
height: 70px;
top: 100px;

border-top-right-radius:10px ;
border-bottom-right-radius:10px ;
background-color: rgb(176, 211, 205);
line-height: 4px;
}
.div_chat2 h3 ,.div_chat3 h3{
    color: brown;
    margin-left: 3px;
}
.div_chat3{position: absolute;
    left: 0px;
    width: 200px;
    height: 70px;
    top: 200px;
    
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
    background-color: rgb(176, 211, 205);
    line-height: 4px;}